<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>
<body>
    <div id="wrapper">
        <div id="left-half">
            <h1>Registration</h1>
            {% if messages %}
            <ul>
                {% for message in messages %}
                {% if 'register' in message.tags %}
                <li class='error-msg'>{{message}}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/add_registrant" method='POST'>
                {% csrf_token %}
                <div class="row input-spacing">
                    <label for="first_name" class="col">First Name:</label>
                    <input type="text" id="first_name" name="first_name" class="form-control col">
                </div>
                <div class="row input-spacing">
                    <label for="last_name" class="col">Last Name:</label>
                    <input type="text" id="last_name" name="last_name" class="form-control col">
                </div>
                <div class="row input-spacing">
                    <label for="email" class="col">Email:</label>
                    <input type="email" id="email" name="email" class="form-control col">
                </div>
                <div class="row input-spacing">
                    <label for="pw" class="col">Password</label>
                    <input type="password" id="pw" name="pw" class="form-control col">
                </div>
                <div class="row input-spacing">
                    <label for="pw_conf" class="col">Confirm Password:</label>
                    <input type="password" id="pw_conf" name="pw_conf" class="form-control col">
                </div>
                <div class="row d-flex justify-content-end">
                    <button class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
        <div id="right-half">
            <h1>Login</h1>
            {% if messages %}
            <ul>
                {% for message in messages %}
                {% if 'login' in message.tags %}
                <li class='error-msg'>{{message}}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
            <form action="/login_attempt" method='POST'>
                {% csrf_token %}
                <div class="row input-spacing">
                    <label for="email2" class="col">Email:</label>
                    <input type="email" id="email2" name="email2" class="form-control col">
                </div>
                <div class="row input-spacing">
                    <label for="pw2" class="col">Password:</label>
                    <input type="password" id="pw2" name="pw2" class="form-control col">
                </div>
                <div class="row d-flex justify-content-center">
                    <button class="btn btn-primary">Log In</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>